{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}

 <section>
   
        <div class="row py-3 ">
          <div class="col-lg-4 " >
            <div class="card mb-4 text-bg-dark">
              <div class="card-body text-center">
                <img src="https://i.pinimg.com/736x/54/72/d1/5472d1b09d3d724228109d381d617326.jpg" alt="avatar"
                  class="rounded-circle img-fluid" style="width: 150px;">
                <h3 class="my-3"> {{user.username}}</h3>
                <h5 class="my-3">Date Registration:  {{user.date_joined}}</h5>
              
              </div>
            </div>
          <form action={% url 'profile' %} method='post'> 
            {% csrf_token %}
            </div>
              <div class="col-lg-8">
              <div class="card mb-4 text-bg-dark ">
                <div class="card-body ">
                  <div data-mdb-input-init class="form-outline">
                    <input type="text" id="id_first_name" 
                      class="form-control form-control-lg"  
                      value="{{form.first_name.value }}"
                      name="first_name" required />
                    <label class="form-label" for="id_first_name" >First Name</label>
                    {% if form.first_name.errors%}
                    <div class="text-danger">{{form.first_name.errors}} </div>
                    {% endif %}
                  </div>
                  <hr>
                  <div data-mdb-input-init class="form-outline">
                    <input type="text" id="id_last_name" 
                      class="form-control form-control-lg"
                      value="{{ form.last_name.value }}" 
                      name="last_name" required />
                    <label class="form-label" for="id_last_name">Last Name</label>
                    {% if form.last_name.errors%}
                    <div class="text-danger">{{form.last_name.errors}} </div>
                    {% endif %}
                  </div>

                  <hr>
                  <div data-mdb-input-init class="form-outline datepicker w-100">
                    <input type="email" id="id_email" 
                      class="form-control form-control-lg" 
                      value="{{ form.email.value }}"
                      name="email" required />
                    <label class="form-label" for="id_email">Email</label>
                    {% if form.email.errors%}
                    <div class="text-danger">{{form.email.errors}} </div>
                    {% endif %}
                  </div>
                  <hr>
                  <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
   
  </section>

{% endblock %}