{% extends 'base.html' %}

{% block title %} Registration {% endblock %}

{% block content %}

<section class="gradient-custom ">
    <div class="container py-3 h-100 ">
      <div class="row justify-content-center align-items-center ">
        <div class="col-12 col-lg-9 col-xl-7 ">
          <div class="card shadow-2-strong card-registration text-bg-dark" style="border-radius: 15px;">
            <div class="card-body p-5 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
              <form action={% url 'registration' %} method='post'>
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div data-mdb-input-init class="form-outline">
                      <input type="text" id="id_first_name" 
                        class="form-control form-control-lg"  
                        value="{% if form.first_name.value %} {{ form.first_name.value }} {% endif %}"
                        name="first_name" required />
                      <label class="form-label" for="id_first_name" >First Name</label>
                      {% if form.first_name.errors%}
                      <div class="text-danger">{{form.first_name.errors}} </div>
                      {% endif %}
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <div data-mdb-input-init class="form-outline">
                      <input type="text" id="id_last_name" 
                        class="form-control form-control-lg"
                        value="{% if form.last_name.value %} {{ form.last_name.value }} {% endif %}" 
                        name="last_name" required />
                      <label class="form-label" for="id_last_name">Last Name</label>
                      {% if form.last_name.errors%}
                      <div class="text-danger">{{form.last_name.errors}} </div>
                      {% endif %}
                    </div>
  
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4 d-flex align-items-center">
  
                    <div data-mdb-input-init class="form-outline datepicker w-100">
                      <input type="text" id="id_username" 
                        value="{% if form.username.value %} {{ form.username.value }} {% endif %}"
                        class="form-control form-control-lg" 
                        name="username" required />
                      <label class="form-label" for="id_username">UserName</label>
                      {% if form.username.errors%}
                      <div class="text-danger">{{form.username.errors}} </div>
                      {% endif %}
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline datepicker w-100">
                      <input type="email" id="id_email" 
                        class="form-control form-control-lg" 
                        value="{% if form.email.value %} {{ form.email.value }} {% endif %}"
                        name="email" required />
                      <label class="form-label" for="id_email">Email</label>
                      {% if form.email.errors%}
                      <div class="text-danger">{{form.email.errors}} </div>
                      {% endif %}
                    </div>
  
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div data-mdb-input-init class="form-outline">
                      <input type="password" id="id_password1" 
                        class="form-control form-control-lg" 
                        value="{% if form.password1.value %} {{ form.password1.value }} {% endif %}"
                        name="password1" required />
                      <label class="form-label" for="id_password1">Password</label>
                      {% if form.password1.errors%}
                      <div class="text-danger">{{form.password1.errors}} </div>
                      {% endif %}
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div data-mdb-input-init class="form-outline">
                      <input type="password" id="id_password2" 
                        value="{% if form.password2.value %} {{ form.password2value }} {% endif %}"
                        class="form-control form-control-lg" 
                        name="password2" required/>
                      <label class="form-label" for="id_password2"> Confirm Password </label>
                      {% if form.password2.errors%}
                      <div class="text-danger">{{form.password2.errors}} </div>
                      {% endif %}
                    </div>
  
                  </div>
                </div>
                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Registration</button>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}